<div class="page-section">
  <div class="page-section-container">
    <div class="spacer-32 m-spacer-0"></div>
    <div class="spacer-150 m-spacer-100"></div>

    <div class="modern-grid">
      <div class="column-1 l-column-0 m-column-0"></div>
      <div class="column-10 l-column-12 m-column-6">
        <h1 class="type-120 m-type-72">
          Compare<br class="desktop-hidden" />
          <span class="alt">models</span><br class="desktop-hidden" />
        </h1>
        <div class="spacer-64 m-spacer-0"></div>
      </div>
    </div>

    <div class="product-compare-header">
      <div class="product-compare-header-shadow"></div>
      <div class="modern-grid">
        <div class="column-1 l-column-0 m-column-0"></div>
        <div class="column-10 l-column-12 m-column-6">
          <div class="spacer-0 m-spacer-24"></div>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr valign="top">
              <td width="33%">
                <a href="/products/">
                  <img
                    src="/assets/images/products/one-black-1000.png"
                    alt=""
                    width="365"
                    height="185"
                  />
                </a>
                <select class="type-24 m-type-15 alt">
                  <option value="one" selected>Product One</option>
                  <option value="two">Product Two</option>
                  <option value="three">Product Three</option>
                  <option value="four">Product Four</option>
                  <option value="five">Product Five</option>
                </select>
                <svg
                  width="13"
                  height="8"
                  viewBox="0 0 13 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.61328 7.47949C6.38542 7.47949 6.17806 7.38835 5.99121 7.20605L0.789062 1.88086C0.711589 1.80794 0.652344 1.72591 0.611328 1.63477C0.57487 1.53906 0.556641 1.43652 0.556641 1.32715C0.556641 1.17676 0.59082 1.04004 0.65918 0.916992C0.732096 0.793945 0.827799 0.698242 0.946289 0.629883C1.06478 0.556966 1.19922 0.520508 1.34961 0.520508C1.56836 0.520508 1.75977 0.602539 1.92383 0.766602L6.94824 5.91406H6.28516L11.3027 0.766602C11.4668 0.602539 11.6582 0.520508 11.877 0.520508C12.0273 0.520508 12.1618 0.556966 12.2803 0.629883C12.3988 0.698242 12.4922 0.793945 12.5605 0.916992C12.6335 1.04004 12.6699 1.17676 12.6699 1.32715C12.6699 1.54134 12.5924 1.72591 12.4375 1.88086L7.23535 7.20605C7.14876 7.2972 7.05306 7.36556 6.94824 7.41113C6.84342 7.45671 6.73177 7.47949 6.61328 7.47949Z"
                    fill="black"
                  />
                </svg>
              </td>
              <td width="33%">
                <a href="/products/">
                  <img
                    src="/assets/images/products/two-black-1000.png"
                    alt=""
                    width="365"
                    height="185"
                  />
                </a>
                <select class="type-24 m-type-15 alt">
                  <option value="one">Product One</option>
                  <option value="two" selected>Product Two</option>
                  <option value="three">Product Three</option>
                  <option value="four">Product Four</option>
                  <option value="five">Product Five</option>
                </select>
                <svg
                  width="13"
                  height="8"
                  viewBox="0 0 13 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.61328 7.47949C6.38542 7.47949 6.17806 7.38835 5.99121 7.20605L0.789062 1.88086C0.711589 1.80794 0.652344 1.72591 0.611328 1.63477C0.57487 1.53906 0.556641 1.43652 0.556641 1.32715C0.556641 1.17676 0.59082 1.04004 0.65918 0.916992C0.732096 0.793945 0.827799 0.698242 0.946289 0.629883C1.06478 0.556966 1.19922 0.520508 1.34961 0.520508C1.56836 0.520508 1.75977 0.602539 1.92383 0.766602L6.94824 5.91406H6.28516L11.3027 0.766602C11.4668 0.602539 11.6582 0.520508 11.877 0.520508C12.0273 0.520508 12.1618 0.556966 12.2803 0.629883C12.3988 0.698242 12.4922 0.793945 12.5605 0.916992C12.6335 1.04004 12.6699 1.17676 12.6699 1.32715C12.6699 1.54134 12.5924 1.72591 12.4375 1.88086L7.23535 7.20605C7.14876 7.2972 7.05306 7.36556 6.94824 7.41113C6.84342 7.45671 6.73177 7.47949 6.61328 7.47949Z"
                    fill="black"
                  />
                </svg>
              </td>
              <td width="33%">
                <a href="/products/">
                  <img
                    src="/assets/images/products/three-black-1000.png"
                    alt=""
                    width="365"
                    height="185"
                  />
                </a>
                <select class="type-24 m-type-15 alt">
                  <option value="one">Product One</option>
                  <option value="two">Product Two</option>
                  <option value="three" selected>Product Three</option>
                  <option value="four">Product Four</option>
                  <option value="five">Product Five</option>
                </select>
                <svg
                  width="13"
                  height="8"
                  viewBox="0 0 13 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.61328 7.47949C6.38542 7.47949 6.17806 7.38835 5.99121 7.20605L0.789062 1.88086C0.711589 1.80794 0.652344 1.72591 0.611328 1.63477C0.57487 1.53906 0.556641 1.43652 0.556641 1.32715C0.556641 1.17676 0.59082 1.04004 0.65918 0.916992C0.732096 0.793945 0.827799 0.698242 0.946289 0.629883C1.06478 0.556966 1.19922 0.520508 1.34961 0.520508C1.56836 0.520508 1.75977 0.602539 1.92383 0.766602L6.94824 5.91406H6.28516L11.3027 0.766602C11.4668 0.602539 11.6582 0.520508 11.877 0.520508C12.0273 0.520508 12.1618 0.556966 12.2803 0.629883C12.3988 0.698242 12.4922 0.793945 12.5605 0.916992C12.6335 1.04004 12.6699 1.17676 12.6699 1.32715C12.6699 1.54134 12.5924 1.72591 12.4375 1.88086L7.23535 7.20605C7.14876 7.2972 7.05306 7.36556 6.94824 7.41113C6.84342 7.45671 6.73177 7.47949 6.61328 7.47949Z"
                    fill="black"
                  />
                </svg>
              </td>
            </tr>
          </table>
          <div class="spacer-16"></div>
        </div>
      </div>
    </div>

    <div class="modern-grid product-compare-row">
      <div class="column-1 l-column-0 m-column-0"></div>
      <div class="column-10 l-column-12 m-column-6">
        <div class="spacer-72 m-spacer-36"></div>
        <div
          class="product-compare-row-title type-24-light m-type-21-light color-text-60"
        >
          Starting at
        </div>
        <div class="spacer-36 m-spacer-24"></div>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr valign="top">
            <td width="33%" data-layout="one" hidden>
              <div class="product-compare-cost">
                <div class="type-24-light">$152.00</div>
                <div class="spacer-12 m-spacer-18"></div>
                <hr class="product-compare-cost-divider" />
                <div class="spacer-8"></div>
                <div
                  class="product-compare-cost-formula type-15 m-type-12 color-text-40"
                >
                  includes 10% GST
                </div>
              </div>
            </td>
            <td width="33%" data-layout="four">
              <div class="product-compare-cost">
                <div class="type-24-light">$249.00</div>
                <div class="spacer-12 m-spacer-18"></div>
                <hr class="product-compare-cost-divider" />
                <div class="spacer-8"></div>
                <div
                  class="product-compare-cost-formula type-15 m-type-12 color-text-40"
                >
                  includes 10% GST
                </div>
              </div>
            </td>
            <td width="33%" data-layout="three">
              <div class="product-compare-cost">
                <div class="type-24-light">$190.00</div>
                <div class="spacer-12 m-spacer-18"></div>
                <hr class="product-compare-cost-divider" />
                <div class="spacer-8"></div>
                <div
                  class="product-compare-cost-formula type-15 m-type-12 color-text-40"
                >
                  includes 10% GST
                </div>
              </div>
            </td>
            <td width="33%" data-layout="two">
              <div class="product-compare-cost">
                <div class="type-24-light">$174.00</div>
                <div class="spacer-12 m-spacer-18"></div>
                <hr class="product-compare-cost-divider" />
                <div class="spacer-8"></div>
                <div
                  class="product-compare-cost-formula type-15 m-type-12 color-text-40"
                >
                  includes 10% GST
                </div>
              </div>
            </td>
            <td width="33%" data-layout="five" hidden>
              <div class="product-compare-cost">
                <div class="type-24-light">$277.00</div>
                <div class="spacer-12 m-spacer-18"></div>
                <hr class="product-compare-cost-divider" />
                <div class="spacer-8"></div>
                <div
                  class="product-compare-cost-formula type-15 m-type-12 color-text-40"
                >
                  includes 10% GST
                </div>
              </div>
            </td>
          </tr>
        </table>
        <div class="spacer-100 m-spacer-50"></div>
      </div>
    </div>
    <div class="modern-grid product-compare-row">
      <div class="column-1 l-column-0 m-column-0"></div>
      <div class="column-10 l-column-12 m-column-6">
        <div
          class="product-compare-row-title type-24-light m-type-21-light color-text-60"
        >
          Dimensions
        </div>
        <div class="spacer-36 m-spacer-24"></div>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr valign="top">
            <td width="33%" data-layout="one" hidden>
              <div class="type-15 color-text-60">Square inches</div>
              <div class="type-18 m-type-15">5 in.</div>
              <div class="spacer-36 m-spacer-24"></div>
            </td>
            <td width="33%" data-layout="four">
              <div class="type-15 color-text-60">Square footage</div>
              <div class="type-18 m-type-15">10 in.</div>
              <div class="spacer-36 m-spacer-24"></div>
            </td>
            <td width="33%" data-layout="three">
              <div class="type-15 color-text-60">Square footage</div>
              <div class="type-18 m-type-15">10 in.</div>
              <div class="spacer-36 m-spacer-24"></div>
            </td>
            <td width="33%" data-layout="two">
              <div class="type-15 color-text-60">Square footage</div>
              <div class="type-18 m-type-15">10 in.</div>
              <div class="spacer-36 m-spacer-24"></div>
            </td>
            <td width="33%" data-layout="five" hidden>
              <div class="type-15 color-text-60">Square footage</div>
              <div class="type-18 m-type-15">10 in.</div>
              <div class="spacer-36 m-spacer-24"></div>
            </td>
          </tr>
          <tr valign="top">
            <td width="33%" data-layout="one" hidden>
              <div class="type-15 color-text-60">Unit dimensions</div>
              <div class="type-18 m-type-15">5" W x 5" D</div>
              <div class="product-compare-unit-dimensions-note">
                <div class="type-15 m-type-12 color-text-40">
                  Small text about certain detall<span class="desktop-hidden"
                    >.</span
                  >
                </div>
                <div class="spacer-0 m-spacer-4"></div>
                <div class="type-15 m-type-12 color-text-40">
                  Text and about terms
                </div>
              </div>

              <div class="spacer-36 spacer-24"></div>
            </td>
            <td width="33%" data-layout="four">
              <div class="type-15 color-text-60">Unit dimensions</div>
              <div class="type-18 m-type-15">5" W x 5" D</div>
              <div class="product-compare-unit-dimensions-note">
                <div class="type-15 m-type-12 color-text-40">
                  Small text about certain detall<span class="desktop-hidden"
                    >.</span
                  >
                </div>
                <div class="spacer-0 m-spacer-4"></div>
                <div class="type-15 m-type-12 color-text-40">
                  Text and about terms
                </div>
              </div>

              <div class="spacer-36 spacer-24"></div>
            </td>
            <td width="33%" data-layout="three">
              <div class="type-15 color-text-60">Unit dimensions</div>
              <div class="type-18 m-type-15">5" W x 5" D</div>
              <div class="product-compare-unit-dimensions-note">
                <div class="type-15 m-type-12 color-text-40">
                  Small text about certain detall<span class="desktop-hidden"
                    >.</span
                  >
                </div>
                <div class="spacer-0 m-spacer-4"></div>
                <div class="type-15 m-type-12 color-text-40">
                  Text and about terms
                </div>
              </div>

              <div class="spacer-36 spacer-24"></div>
            </td>
            <td width="33%" data-layout="two">
              <div class="type-15 color-text-60">Unit dimensions</div>
              <div class="type-18 m-type-15">5" W x 5" D</div>
              <div class="product-compare-unit-dimensions-note">
                <div class="type-15 m-type-12 color-text-40">
                  Small text about certain detall<span class="desktop-hidden"
                    >.</span
                  >
                </div>
                <div class="spacer-0 m-spacer-4"></div>
                <div class="type-15 m-type-12 color-text-40">
                  Text and about terms
                </div>
              </div>

              <div class="spacer-36 spacer-24"></div>
            </td>
            <td width="33%" data-layout="five" hidden>
              <div class="type-15 color-text-60">Unit dimensions</div>
              <div class="type-18 m-type-15">5" W x 5" D</div>
              <div class="product-compare-unit-dimensions-note">
                <div class="type-15 m-type-12 color-text-40">
                  Small text about certain detall<span class="desktop-hidden"
                    >.</span
                  >
                </div>
                <div class="spacer-0 m-spacer-4"></div>
                <div class="type-15 m-type-12 color-text-40">
                  Text and about terms
                </div>
              </div>

              <div class="spacer-36 spacer-24"></div>
            </td>
          </tr>
          <tr valign="top">
            <td width="33%" data-layout="one" hidden>
              <div class="type-15 color-text-60">Space requirement</div>
              <div class="type-18">5" x 5"</div>
              <div class="spacer-36 spacer-24"></div>
            </td>
            <td width="33%" data-layout="two">
              <div class="type-15 color-text-60">Space requirement</div>
              <div class="type-18">5" x 10"</div>
              <div class="spacer-36 spacer-24"></div>
            </td>
            <td width="33%" data-layout="three">
              <div class="type-15 color-text-60">Space requirement</div>
              <div class="type-18">5" x 15"</div>
              <div class="spacer-36 spacer-24"></div>
            </td>
            <td width="33%" data-layout="four">
              <div class="type-15 color-text-60">Space requirement</div>
              <div class="type-18">5" x 20"</div>
              <div class="spacer-36 spacer-24"></div>
            </td>
            <td width="33%" data-layout="five" hidden>
              <div class="type-15 color-text-60">Space requirement</div>
              <div class="type-18">5" x 25"</div>
              <div class="spacer-36 spacer-24"></div>
            </td>
          </tr>
        </table>
        <div class="spacer-100 m-spacer-50"></div>
      </div>
    </div>
    <div class="modern-grid product-compare-row">
      <div class="column-1 l-column-0 m-column-0"></div>
      <div class="column-10 l-column-12 m-column-6">
        <div
          class="product-compare-row-title type-24-light m-type-21-light color-text-60"
        >
          Size diagram
          <span class="type-14 m-type-12 color-text-40"
            >&nbsp;&nbsp;Something important here</span
          >
        </div>
        <div class="spacer-36 m-spacer-24"></div>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr valign="top">
            <td width="33%" data-layout="one" hidden>
              <div class="product-compare-diagram">
                <img
                  src="/assets/images/"
                  width="150"
                  height="290"
                  alt="diagram"
                  style="aspect-ratio: 150 / 290"
                />
                <div
                  class="product-compare-diagram-dimension product-compare-diagram-dimension-width"
                >
                  <span class="type-14 m-type-12 color-text-40">5"</span>
                  <img
                    src="/assets/images/icons/dimension-arrow-right.svg"
                    loading="lazy"
                  />
                  <img
                    src="/assets/images/icons/dimension-arrow-right.svg"
                    loading="lazy"
                  />
                </div>
                <div
                  class="product-compare-diagram-dimension product-compare-diagram-dimension-height"
                >
                  <span class="type-14 m-type-12 color-text-40">5"</span>
                  <img
                    src="/assets/images/icons/dimension-arrow-top.svg"
                    loading="lazy"
                  />
                  <img
                    src="/assets/images/icons/dimension-arrow-top.svg"
                    loading="lazy"
                  />
                </div>
              </div>
              <div class="spacer-24"></div>
            </td>
            <td width="33%" data-layout="two">
              <div class="product-compare-diagram">
                <img
                  src="/assets/images/"
                  width="150"
                  height="370"
                  alt="diagram"
                  style="aspect-ratio: 150 / 370"
                />
                <div
                  class="product-compare-diagram-dimension product-compare-diagram-dimension-width"
                >
                  <span class="type-14 m-type-12 color-text-40">5"</span>
                  <img
                    src="/assets/images/icons/dimension-arrow-right.svg"
                    loading="lazy"
                  />
                  <img
                    src="/assets/images/icons/dimension-arrow-right.svg"
                    loading="lazy"
                  />
                </div>
                <div
                  class="product-compare-diagram-dimension product-compare-diagram-dimension-height"
                >
                  <span class="type-14 m-type-12 color-text-40">10"</span>
                  <img
                    src="/assets/images/icons/dimension-arrow-top.svg"
                    loading="lazy"
                  />
                  <img
                    src="/assets/images/icons/dimension-arrow-top.svg"
                    loading="lazy"
                  />
                </div>
              </div>
              <div class="spacer-24"></div>
            </td>
            <td width="33%" data-layout="three">
              <div class="product-compare-diagram">
                <img
                  src="/assets/images/"
                  width="150"
                  height="470"
                  alt="diagram"
                  style="aspect-ratio: 150 / 470"
                />
                <div
                  class="product-compare-diagram-dimension product-compare-diagram-dimension-width"
                >
                  <span class="type-14 m-type-12 color-text-40">5"</span>
                  <img
                    src="/assets/images/icons/dimension-arrow-right.svg"
                    loading="lazy"
                  />
                  <img
                    src="/assets/images/icons/dimension-arrow-right.svg"
                    loading="lazy"
                  />
                </div>
                <div
                  class="product-compare-diagram-dimension product-compare-diagram-dimension-height"
                >
                  <span class="type-14 m-type-12 color-text-40">15"</span>
                  <img
                    src="/assets/images/icons/dimension-arrow-top.svg"
                    loading="lazy"
                  />
                  <img
                    src="/assets/images/icons/dimension-arrow-top.svg"
                    loading="lazy"
                  />
                </div>
              </div>
              <div class="spacer-24"></div>
            </td>
            <td width="33%" data-layout="four">
              <div class="product-compare-diagram">
                <img
                  src="/assets/images/"
                  width="250"
                  height="320"
                  alt="diagram"
                  style="aspect-ratio: 250 / 320"
                />
                <div
                  class="product-compare-diagram-dimension product-compare-diagram-dimension-width"
                >
                  <span class="type-14 m-type-12 color-text-40">5"</span>
                  <img
                    src="/assets/images/icons/dimension-arrow-right.svg"
                    loading="lazy"
                  />
                  <img
                    src="/assets/images/icons/dimension-arrow-right.svg"
                    loading="lazy"
                  />
                </div>
                <div
                  class="product-compare-diagram-dimension product-compare-diagram-dimension-height"
                >
                  <span class="type-14 m-type-12 color-text-40">20"</span>
                  <img
                    src="/assets/images/icons/dimension-arrow-top.svg"
                    loading="lazy"
                  />
                  <img
                    src="/assets/images/icons/dimension-arrow-top.svg"
                    loading="lazy"
                  />
                </div>
              </div>
              <div class="spacer-24"></div>
            </td>
            <td width="33%" data-layout="five" hidden>
              <div class="product-compare-diagram">
                <img
                  src="/assets/images/"
                  width="250"
                  height="380"
                  alt="diagram"
                  style="aspect-ratio: 250 / 380"
                />
                <div
                  class="product-compare-diagram-dimension product-compare-diagram-dimension-width"
                >
                  <span class="type-14 m-type-12 color-text-40">5"</span>
                  <img
                    src="/assets/images/icons/dimension-arrow-right.svg"
                    loading="lazy"
                  />
                  <img
                    src="/assets/images/icons/dimension-arrow-right.svg"
                    loading="lazy"
                  />
                </div>
                <div
                  class="product-compare-diagram-dimension product-compare-diagram-dimension-height"
                >
                  <span class="type-14 m-type-12 color-text-40">25"</span>
                  <img
                    src="/assets/images/icons/dimension-arrow-top.svg"
                    loading="lazy"
                  />
                  <img
                    src="/assets/images/icons/dimension-arrow-top.svg"
                    loading="lazy"
                  />
                </div>
              </div>
              <div class="spacer-24"></div>
            </td>
          </tr>
        </table>
        <div class="spacer-100 m-spacer-50"></div>
      </div>
    </div>
    <div class="product-compare-collapsible">
      <div class="modern-grid">
        <div class="column-1 l-column-0 m-column-0"></div>
        <div class="column-10 l-column-12 m-column-6">
          <h2 class="type-72 m-type-30-light">
            Finish
            <input type="checkbox" />
            <img src="/assets/images/icons/chevron-black-thin.svg" />
          </h2>
          <div class="spacer-50"></div>
        </div>
      </div>
      <div class="modern-grid product-compare-row">
        <div class="column-1 l-column-0 m-column-0"></div>
        <div class="column-10 l-column-12 m-column-6">
          <div
            class="product-compare-row-title type-24-light m-type-21-light color-text-60"
          >
            Colors
          </div>
          <div class="spacer-36 m-spacer-24"></div>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr valign="top">
              <td width="33%" data-layout="one" hidden>
                <div class="specs-content-colors">
                  <div class="specs-content-colors-driftwood">
                    <div class="type-12">Brushed</div>
                  </div>
                  <div class="specs-content-colors-dark-bronze">
                    <div class="type-12">Black</div>
                  </div>
                </div>
                <div class="spacer-8"></div>
                <div
                  class="type-15 m-type-12 color-text-60 product-compare-colors-note"
                >
                  Custom colors available
                </div>
              </td>
              <td width="33%" data-layout="two">
                <div class="specs-content-colors">
                  <div class="specs-content-colors-driftwood">
                    <div class="type-12">Brushed</div>
                  </div>
                  <div class="specs-content-colors-dark-bronze">
                    <div class="type-12">Black</div>
                  </div>
                </div>
                <div class="spacer-8"></div>
                <div
                  class="type-15 m-type-12 color-text-60 product-compare-colors-note"
                >
                  Custom colors available
                </div>
              </td>
              <td width="33%" data-layout="three">
                <div class="specs-content-colors">
                  <div class="specs-content-colors-driftwood">
                    <div class="type-12">Brushed</div>
                  </div>
                  <div class="specs-content-colors-dark-bronze">
                    <div class="type-12">Black</div>
                  </div>
                </div>
                <div class="spacer-8"></div>
                <div
                  class="type-15 m-type-12 color-text-60 product-compare-colors-note"
                >
                  Custom colors available
                </div>
              </td>
              <td width="33%" data-layout="four">
                <div class="specs-content-colors">
                  <div class="specs-content-colors-driftwood">
                    <div class="type-12">Brushed</div>
                  </div>
                  <div class="specs-content-colors-dark-bronze">
                    <div class="type-12">Black</div>
                  </div>
                </div>
                <div class="spacer-8"></div>
                <div
                  class="type-15 m-type-12 color-text-60 product-compare-colors-note"
                >
                  Custom colors available
                </div>
              </td>
              <td width="33%" data-layout="five" hidden>
                <div class="specs-content-colors">
                  <div class="specs-content-colors-driftwood">
                    <div class="type-12">Brushed</div>
                  </div>
                  <div class="specs-content-colors-dark-bronze">
                    <div class="type-12">Black</div>
                  </div>
                </div>
                <div class="spacer-8"></div>
                <div
                  class="type-15 m-type-12 color-text-60 product-compare-colors-note"
                >
                  Custom colors available
                </div>
              </td>
            </tr>
          </table>
          <div class="spacer-100 m-spacer-50"></div>
        </div>
      </div>
      <div
        class="modern-grid product-compare-row product-compare-row-collapsible"
      >
        <div class="column-1 l-column-0 m-column-0"></div>
        <div class="column-10 l-column-12 m-column-6">
          <div
            class="product-compare-row-title type-24-light m-type-21-light color-text-60"
          >
            Grill colors
          </div>
          <div class="spacer-36 m-spacer-24"></div>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr valign="top">
              <td width="33%" data-layout="one" hidden>
                <div class="specs-content-colors">
                  <div class="specs-content-colors-dark-bronze">
                    <div class="type-12">Dark bronze</div>
                  </div>
                  <div class="specs-content-colors-metallic-silver">
                    <div class="type-12">Metallic silver</div>
                  </div>
                </div>
              </td>
              <td width="33%" data-layout="two">
                <div class="specs-content-colors">
                  <div class="specs-content-colors-dark-bronze">
                    <div class="type-12">Dark bronze</div>
                  </div>
                  <div class="specs-content-colors-metallic-silver">
                    <div class="type-12">Metallic silver</div>
                  </div>
                </div>
              </td>
              <td width="33%" data-layout="three">
                <div class="specs-content-colors">
                  <div class="specs-content-colors-dark-bronze">
                    <div class="type-12">Dark bronze</div>
                  </div>
                  <div class="specs-content-colors-metallic-silver">
                    <div class="type-12">Metallic silver</div>
                  </div>
                </div>
              </td>
              <td width="33%" data-layout="four">
                <div class="specs-content-colors">
                  <div class="specs-content-colors-dark-bronze">
                    <div class="type-12">Dark bronze</div>
                  </div>
                  <div class="specs-content-colors-metallic-silver">
                    <div class="type-12">Metallic silver</div>
                  </div>
                </div>
              </td>
              <td width="33%" data-layout="five" hidden>
                <div class="specs-content-colors">
                  <div class="specs-content-colors-dark-bronze">
                    <div class="type-12">Dark bronze</div>
                  </div>
                  <div class="specs-content-colors-metallic-silver">
                    <div class="type-12">Metallic silver</div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
          <div class="spacer-100 m-spacer-50"></div>
        </div>
      </div>
      <div class="modern-grid product-compare-row">
        <div class="column-1 l-column-0 m-column-0"></div>
        <div class="column-10 l-column-12 m-column-6">
          <div
            class="product-compare-row-title type-24-light m-type-21-light color-text-60"
          >
            Heading - single line
          </div>
          <div class="spacer-36 m-spacer-24"></div>

          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr valign="top">
              <td width="33%" data-layout="one">
                <div class="type-18-light m-type-14 product-compare-text">
                  Some text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="two">
                <div class="type-18-light m-type-14 product-compare-text">
                  Some text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="three">
                <div class="type-18-light m-type-14 product-compare-text">
                  Some text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="four">
                <div class="type-18-light m-type-14 product-compare-text">
                  Some text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="five">
                <div class="type-18-light m-type-14 product-compare-text">
                  Some text about the detail or feature goes here
                </div>
              </td>
            </tr>
          </table>

          <div class="spacer-100 m-spacer-50"></div>
        </div>
      </div>
      <div class="modern-grid product-compare-row">
        <div class="column-1 l-column-0 m-column-0"></div>
        <div class="column-10 l-column-12 m-column-6">
          <div
            class="product-compare-row-title type-24-light m-type-21-light color-text-60"
          >
            Heading - multi-line
          </div>
          <div class="spacer-36 m-spacer-24"></div>

          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr valign="top">
              <td width="33%" data-layout="one">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
                <div class="spacer-12 m-spacer-8"></div>
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="two">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
                <div class="spacer-12 m-spacer-8"></div>
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="three">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
                <div class="spacer-12 m-spacer-8"></div>
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="four">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
                <div class="spacer-12 m-spacer-8"></div>
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="five">
                <div class="type-18-light m-type-14 product-compare-text">
                  Vertical 7" fiber cement panels with V-groove
                </div>
                <div class="spacer-12 m-spacer-8"></div>
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
            </tr>
          </table>

          <div class="spacer-100 m-spacer-50"></div>
        </div>
      </div>
    </div>
    <div class="product-compare-collapsible">
      <div class="modern-grid">
        <div class="column-1 l-column-0 m-column-0"></div>
        <div class="column-10 l-column-12 m-column-6">
          <h2 class="type-72 m-type-30-light">
            Main heading
            <input type="checkbox" />
            <img src="/assets/images/icons/chevron-black-thin.svg" />
          </h2>
          <div class="spacer-50"></div>
        </div>
      </div>
      <div class="modern-grid product-compare-row">
        <div class="column-1 l-column-0 m-column-0"></div>
        <div class="column-10 l-column-12 m-column-6">
          <div
            class="product-compare-row-title type-24-light m-type-21-light color-text-60"
          >
            Sub heading 1
          </div>
          <div class="spacer-36 m-spacer-24"></div>

          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr valign="top">
              <td width="33%" data-layout="one">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="two">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="three">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="four">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="five">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
            </tr>
          </table>

          <div class="spacer-100 m-spacer-50"></div>
        </div>
      </div>
      <div class="modern-grid product-compare-row">
        <div class="column-1 l-column-0 m-column-0"></div>
        <div class="column-10 l-column-12 m-column-6">
          <div
            class="product-compare-row-title type-24-light m-type-21-light color-text-60"
          >
            Sub heading 2
          </div>
          <div class="spacer-36 m-spacer-24"></div>

          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr valign="top">
              <td width="33%" data-layout="one">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="two">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="three">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="four">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="five">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
            </tr>
          </table>

          <div class="spacer-100 m-spacer-50"></div>
        </div>
      </div>
    </div>
    <div class="product-compare-collapsible">
      <div class="modern-grid">
        <div class="column-1 l-column-0 m-column-0"></div>
        <div class="column-10 l-column-12 m-column-6">
          <h2 class="type-72 m-type-30-light">
            Main heading
            <input type="checkbox" />
            <img src="/assets/images/icons/chevron-black-thin.svg" />
          </h2>
          <div class="spacer-50"></div>
        </div>
      </div>
      <div class="modern-grid product-compare-row">
        <div class="column-1 l-column-0 m-column-0"></div>
        <div class="column-10 l-column-12 m-column-6">
          <div
            class="product-compare-row-title type-24-light m-type-21-light color-text-60"
          >
            Sub heading
          </div>
          <div class="spacer-36 m-spacer-24"></div>

          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr valign="top">
              <td width="33%" data-layout="one">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="two">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="three">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="four">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="five">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
            </tr>
          </table>

          <div class="spacer-100 m-spacer-50"></div>
        </div>
      </div>
      <div class="modern-grid product-compare-row">
        <div class="column-1 l-column-0 m-column-0"></div>
        <div class="column-10 l-column-12 m-column-6">
          <div
            class="product-compare-row-title type-24-light m-type-21-light color-text-60"
          >
            Sub heading
          </div>
          <div class="spacer-36 m-spacer-24"></div>

          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr valign="top">
              <td width="33%" data-layout="one">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="two">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="three">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="four">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
              <td width="33%" data-layout="five">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
              </td>
            </tr>
          </table>

          <div class="spacer-100 m-spacer-50"></div>
        </div>
      </div>
      <div class="modern-grid product-compare-row">
        <div class="column-1 l-column-0 m-column-0"></div>
        <div class="column-10 l-column-12 m-column-6">
          <div
            class="product-compare-row-title type-24-light m-type-21-light color-text-60"
          >
            Sub heading
          </div>
          <div class="spacer-36 m-spacer-24"></div>

          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr valign="top">
              <td width="33%" data-layout="one">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
                <div class="spacer-12 m-spacer-8"></div>
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
                <div class="spacer-12 m-spacer-8"></div>
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here<br />
                  <a class="type-regola-regular" href="/">Learn more</a>
                </div>
              </td>
              <td width="33%" data-layout="two">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
                <div class="spacer-12 m-spacer-8"></div>
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
                <div class="spacer-12 m-spacer-8"></div>
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here<br />
                  <a class="type-regola-regular" href="/">Learn more</a>
                </div>
              </td>
              <td width="33%" data-layout="three">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
                <div class="spacer-12 m-spacer-8"></div>
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
                <div class="spacer-12 m-spacer-8"></div>
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here<br />
                  <a class="type-regola-regular" href="/">Learn more</a>
                </div>
              </td>
              <td width="33%" data-layout="four">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
                <div class="spacer-12 m-spacer-8"></div>
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
                <div class="spacer-12 m-spacer-8"></div>
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here<br />
                  <a class="type-regola-regular" href="/">Learn more</a>
                </div>
              </td>
              <td width="33%" data-layout="five">
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
                <div class="spacer-12 m-spacer-8"></div>
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here
                </div>
                <div class="spacer-12 m-spacer-8"></div>
                <div class="type-18-light m-type-14 product-compare-text">
                  Line of text about the detail or feature goes here<br />
                  <a class="type-regola-regular" href="/">Learn more</a>
                </div>
              </td>
            </tr>
          </table>

          <div class="spacer-100 m-spacer-50"></div>
        </div>
      </div>
    </div>
  </div>
</div>
