<div class="slides">
  <div class="slide visible xl" data-invert="false">
    <div class="xl-title">
      A simple,<br />
      single page<br />
      app, a.k.a<br />
    </div>
    <div class="xl-xl">SPA</div>
    <div class="xl-subtitle">
      Incl. routing, state mgmt,<br />
      and page transitions.
    </div>
    <a
      class="xl-learn-more type-14 button-rounded button-rounded-blue"
      href="/"
    >
      Learn more
      <svg
        width="9"
        height="7"
        viewBox="0 0 9 7"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.08709 0.459961L8.05509 3.42796L5.08709 6.39596H3.50509L5.84309 4.04396H0.663086V2.79796L5.84309 2.81196L3.50509 0.459961H5.08709Z"
          fill="white"
        ></path>
      </svg>
    </a>
    <!-- <a href="/">
      <img
        class="xl-hero-image"
        srcset="/assets/images/home/spa.png"
        alt="Backyard XL"
        width="767"
        height="645"
      />
    </a> -->
  </div>
  <div class="slide visible intro">
    <div class="intro-container">
      <div class="spacer-100 m-spacer-16"></div>
      <h1 class="color-text-100 intro-title">
        SimpleSPA is a super simple, smartly customizable, vanilla SPA
        boilerplate.
      </h1>
      <h2 class="color-text-100" data-nosnippet>
        SimpleSPA
        <div class="intro-elevation" style="width: calc(0.9em * 120 / 55)">
          <img
            srcset="/assets/images/home/intro-spa-1.png"
            alt=""
            style="left: calc(-0.8em * 120 / 65 * 0.23)"
          />
        </div>
        <br class="mobile" />is a<br />
        super simple,<br class="mobile" />
        <div
          class="intro-elevation mobile"
          style="width: calc(0.9em * 250 / 75 * 0.95)"
        >
          <img
            srcset="/assets/images/home/intro-spa-2.png"
            alt=""
            style="
              left: calc(-0.4em * 250 / 75 * 0.195);
              height: 2.3em;
              top: -1.45em;
            "
          />
        </div>
        smartly <br class="mobile" /><br />
        customizable, <br class="mobile" />
        <div
          class="intro-elevation desktop"
          style="width: calc(1em * 167 / 104 * 1.2)"
        >
          <img
            srcset="/assets/images/home/intro-spa-2.png"
            alt=""
            style="
              left: calc(-0.7em * 167 / 104 * 0.35);
              top: -1.3em;
              height: 1.845em;
            "
          />
        </div>
        vanilla <br />
        <div
          class="intro-elevation mobile"
          style="width: calc(0.9em * 167 / 104 * 1.2)"
        >
          <img
            srcset="/assets/images/home/intro-spa-3.png"
            alt=""
            style="
              left: calc(-0.55em * 250 / 75 * 0.95);
              height: 2em;
              top: -1.3em;
            "
          />
        </div>
        SPA <br class="mobile" />
        <div
          class="intro-elevation desktop"
          style="width: calc(0.8em * 250 / 75)"
        >
          <img
            srcset="/assets/images/home/intro-spa-3.png"
            alt=""
            style="
              left: calc(-2.3em * 250 / 75 * 0.15);
              height: 2em;
              top: -1.3em;
            "
          />
        </div>
        boilerplate.
      </h2>
    </div>
    <div class="intro-cta">
      <div class="spacer-64"></div>
      <div class="type-36 m-type-24-light">
        Batteries included, from routing to page transitions.
      </div>
      <div class="type-36 m-type-24-light color-text-40">Available now.</div>
      <div class="spacer-24 m-spacer-32"></div>
      <div class="spacer-120 m-spacer-64"></div>
      <div class="spacer-24 m-spacer-0"></div>
    </div>
  </div>
  <div class="spacer-120 m-spacer-100"></div>
  <div class="slide product-cards product-cards-gradient">
    <div class="modern-grid">
      <div class="column-1"></div>
      <div class="column-10">
        <h1 class="type-60 m-type-36">
          Product cards. <span class="color-text-40">Sub heading.</span>
        </h1>
      </div>
    </div>
    <div class="spacer-50 m-spacer-32"></div>
    <div class="product-cards-layouts">
      <div class="spacer-16 m-spacer-0"></div>
      <div class="product-cards-layouts-pages">
        <div class="product-cards-layouts-pages-controls">
          <button
            class="product-cards-layouts-pages-controls-button-previous"
            title="Previous model"
          >
            <img
              loading="lazy"
              src="/assets/images/icons/chevron-grey.svg"
              width="9"
              height="17"
              alt="Previous model"
            />
          </button>
          <button
            class="product-cards-layouts-pages-controls-button-next"
            title="Next model"
          >
            <img
              loading="lazy"
              src="/assets/images/icons/chevron-grey.svg"
              width="9"
              height="17"
              alt="Next model"
            />
          </button>
        </div>
        <div class="product-cards-layouts-pages-container">
          <div class="product-cards-layouts-pages-container-scroll">
            <div
              class="product-cards-layouts-pages-page product-cards-layouts-pages-studio"
            >
              <div class="product-cards-layouts-pages-heading">
                <h2 class="type-30-light m-type-24-light">Product 1</h2>
                <p class="type-18 color-text-60">Sub heading.</p>
              </div>
              <div class="spacer-80 m-spacer-36"></div>
              <div class="product-cards-layouts-pages-image">
                <img
                  loading="lazy"
                  alt="product brushed"
                  srcset="/assets/images/home/one-brushed-6000.png"
                />
                <img
                  loading="lazy"
                  alt="product black"
                  srcset="/assets/images/home/one-black-6000.png"
                />
              </div>
            </div>
            <div
              class="product-cards-layouts-pages-page product-cards-layouts-pages-onebed"
            >
              <div class="product-cards-layouts-pages-heading">
                <h2 class="type-30-light m-type-24-light">Product 2</h2>
                <p class="type-18 color-text-60">Sub heading.</p>
              </div>
              <div class="spacer-80 m-spacer-36"></div>
              <div class="product-cards-layouts-pages-image">
                <img
                  loading="lazy"
                  alt="product brushed"
                  srcset="/assets/images/home/two-brushed-6000.png"
                />
                <img
                  loading="lazy"
                  alt="product black"
                  srcset="/assets/images/home/two-black-6000.png"
                />
              </div>
            </div>
            <div
              class="product-cards-layouts-pages-page product-cards-layouts-pages-twobed"
            >
              <div class="product-cards-layouts-pages-heading">
                <h2 class="type-30-light m-type-24-light">Product 3</h2>
                <p class="type-18 color-text-60">Sub heading.</p>
              </div>
              <div class="spacer-80 m-spacer-36"></div>
              <div class="product-cards-layouts-pages-image">
                <img
                  loading="lazy"
                  alt="product brushed"
                  srcset="/assets/images/home/three-brushed-6000.png"
                />
                <img
                  loading="lazy"
                  alt="product black"
                  srcset="/assets/images/home/three-black-6000.png"
                />
              </div>
            </div>
            <div
              class="product-cards-layouts-pages-page product-cards-layouts-pages-xl"
            >
              <div class="product-cards-layouts-pages-heading">
                <h2 class="type-30-light m-type-24-light">Product 4</h2>
                <p class="type-18 color-text-60">Sub heading.</p>
              </div>
              <div class="spacer-80 m-spacer-36"></div>
              <div class="product-cards-layouts-pages-image">
                <img
                  loading="lazy"
                  alt="product brushed"
                  srcset="/assets/images/home/four-brushed-6000.png"
                />
                <img
                  loading="lazy"
                  alt="product black"
                  srcset="/assets/images/home/four-black-6000.png"
                />
              </div>
            </div>
            <div
              class="product-cards-layouts-pages-page product-cards-layouts-pages-xl"
            >
              <div class="product-cards-layouts-pages-heading">
                <p
                  class="type-15 type-regola-regular product-cards-layouts-pages-heading-new"
                >
                  NEW
                </p>
                <h2 class="type-30-light m-type-24-light">Product 5</h2>
                <p class="type-18 color-text-60">Sub heading.</p>
              </div>
              <div class="spacer-80 m-spacer-36"></div>
              <div class="product-cards-layouts-pages-image">
                <img
                  loading="lazy"
                  alt="product brushed"
                  srcset="/assets/images/home/five-brushed-6000.png"
                />
                <img
                  loading="lazy"
                  alt="product black"
                  srcset="/assets/images/home/five-black-6000.png"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="product-cards-paging-indicator">
          <ul
            class="paging-indicator"
            data-change-emmiter-selector=".product-cards-layouts-pages-container"
          >
            <li></li>
            <li class="paging-indicator-current"></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="spacer-16 m-spacer-16"></div>
        <div class="product-cards-colors">
          <div class="type-14 product-cards-colors-brushed selected">
            <span class="product-cards-colors-label">
              <span>Brushed</span>
            </span>
            <div></div>
          </div>
          <div class="type-14 product-cards-colors-black">
            <span class="product-cards-colors-label">
              <span>Black</span>
            </span>
            <div></div>
          </div>
        </div>
        <div class="spacer-32 m-spacer-32"></div>
        <div class="product-cards-footer">
          <p
            class="type-18 m-type-15 product-cards-footer-summary"
            id="product-cards-footer-summary"
          >
            8 inches. <span></span> 1st detail <span></span> 2nd detail
          </p>
          <div class="spacer-16"></div>
          <hr />
          <div class="spacer-16"></div>
          <p class="type-15 m-type-14 color-text-60">
            Starting at
            <span
              id="product-cards-footer-cost-total"
              class="color-text-100"
            ></span>
            plus installation.
          </p>
          <div class="spacer-4"></div>
          <p class="type-15 m-type-14 color-text-60">
            Assembly options available.
            <a class="product-cards-footer-calculator" href="/">
              <img
                src="/assets/images/icons/info-grey-80.svg"
                alt="i"
                width="12"
                height="13"
                loading="lazy"
              />
            </a>
          </p>
          <div class="spacer-50 m-spacer-24"></div>
          <div class="product-cards-footer-actions">
            <a
              class="product-cards-footer-action product-cards-footer-action-explore type-14"
              id="product-cards-footer-explore-link"
            >
              <span>
                <span class="color-text-60">Question?</span><br />
                <span class="type-regola-regular"
                  >Explore
                  <span class="product-cards-footer-explore-link-model"
                    >Action</span
                  ></span
                >
              </span>
            </a>
            <a
              id="product-cards-footer-configure-link"
              href="/"
              class="product-cards-footer-action type-14 type-regola-regular"
            >
              <img
                src="/assets/images/icons/box-blue.svg"
                width="1"
                height="1"
                git
                a
                alt="3D Cube"
                loading="lazy"
              />
              Customize in 3D
              <img
                src="/assets/images/icons/arrow-right-blue.svg"
                loading="lazy"
                width="14"
                height="9"
                alt="&rarr;"
              />
            </a>
          </div>
          <div class="spacer-16 m-spacer-0"></div>
        </div>
      </div>
    </div>
    <div class="spacer-100 m-spacer-64"></div>
  </div>

  <div class="slide gallery" data-invert="true">
    <div class="column">
      <h1 class="type-60 m-type-36">
        Sections<br />display title<br />or heading
      </h1>
    </div>
    <ul>
      <li>
        <input
          aria-label="Tab1"
          data-layout="tab1"
          type="radio"
          name="gallery-selector-main"
        />Tab1
      </li>
      <li>
        <input
          aria-label="Tab2"
          data-layout="tab2"
          type="radio"
          name="gallery-selector-main"
          checked
        />Tab2
      </li>
      <li>
        <input
          aria-label="Tab3"
          data-layout="tab3"
          type="radio"
          name="gallery-selector-main"
        />Tab3
      </li>
      <li>
        <input
          aria-label="Tab4"
          data-layout="tab4"
          type="radio"
          name="gallery-selector-main"
        />Tab4
      </li>
      <li>
        <input
          aria-label="Tab5"
          data-layout="tab5"
          type="radio"
          name="gallery-selector-main"
        />Tab5
      </li>
    </ul>
    <div class="images">
      <img alt="Image one" srcset="/assets/images/home/2880x2160-1.jpg" />
      <img alt="Image two" srcset="/assets/images/home/2880x2160-2.jpg" />
      <img alt="Image three" srcset="/assets/images/home/2880x2160-3.jpg" />
      <img alt="Image four" srcset="/assets/images/home/2880x2160-4.jpg" />
      <img alt="Image five" srcset="/assets/images/home/2880x2160-5.jpg" />
    </div>
  </div>

  <div class="slider-carousel slider-carousel-white">
    <div class="spacer-120 m-spacer-24"></div>
    <div class="slider-carousel-cards">
      <div class="slider-carousel-cards-card">
        <div class="spacer-8"></div>
        <div class="slider-carousel-cards-card-images">
          <img alt="Slider image" srcset="/assets/images/home/2000x1500.jpg" />
        </div>
        <div class="spacer-24 m-spacer-16"></div>
        <div class="type-24 m-type-18">Slide title one.</div>
        <div class="spacer-8"></div>
        <p class="type-18 m-type-14 color-text-60">
          A slideshow is used for cycling through content. Add captions easily,
          they can be easily hidden on smaller viewports. The carousel is
          responsive, and will automatically adapt to the available space.
        </p>
      </div>
      <div class="slider-carousel-cards-card">
        <div class="spacer-8"></div>
        <div class="slider-carousel-cards-card-images">
          <img alt="Slider image" srcset="/assets/images/home/2000x1500.jpg" />
        </div>
        <div class="spacer-24 m-spacer-16"></div>
        <div class="type-24 m-type-18">Slide title two.</div>
        <div class="spacer-8"></div>
        <p class="type-18 m-type-14 color-text-60">
          A slideshow is used for cycling through content. Add captions easily,
          they can be easily hidden on smaller viewports. The carousel is
          responsive, and will automatically adapt to the available space.
        </p>
      </div>
      <div
        class="slider-carousel-cards-card slider-carousel-cards-card-diptyque"
      >
        <div class="spacer-8"></div>
        <div class="slider-carousel-cards-card-images">
          <img alt="Slider image" srcset="/assets/images/home/2000x1500.jpg" />
          <img alt="Slider image" srcset="/assets/images/home/2000x1500.jpg" />
        </div>
        <div class="spacer-24 m-spacer-16"></div>
        <div class="type-24 m-type-18">Slide title three.</div>
        <div class="spacer-8"></div>
        <p class="type-18 m-type-14 color-text-60">
          A slideshow is used for cycling through content. Add captions easily,
          they can be easily hidden on smaller viewports. The carousel is
          responsive, and will automatically adapt to the available space.
        </p>
      </div>
      <div class="slider-carousel-cards-card">
        <div class="spacer-8"></div>
        <div class="slider-carousel-cards-card-images">
          <img alt="Slider image" srcset="/assets/images/home/2000x1500.jpg" />
        </div>
        <div class="spacer-24 m-spacer-16"></div>
        <div class="type-24 m-type-18">Slide title four.</div>
        <div class="spacer-8"></div>
        <p class="type-18 m-type-14 color-text-60">
          A slideshow is used for cycling through content. Add captions easily,
          they can be easily hidden on smaller viewports. The carousel is
          responsive, and will automatically adapt to the available space.
        </p>
      </div>
    </div>
    <div class="slider-carousel-paging-indicator desktop-hidden">
      <div class="spacer-32"></div>
      <ul
        class="paging-indicator"
        data-scroll-element-selector=".slider-carousel-cards"
      >
        <li class="paging-indicator-current"></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="spacer-120 m-spacer-72"></div>
  </div>

  <div class="spacer-120 m-spacer-50"></div>
  <div class="slide cta-section">
    <div class="modern-grid">
      <div class="column-1 m-column-0"></div>
      <div class="column-5 m-column-6">
        <h1 class="type-48 m-type-30-light l-type-36">Heading 1</h1>
        <h1 class="type-48 m-type-30-light l-type-36 color-text-40">
          Sub heading
          <nobr>
            <a href="/#">
              <svg
                width="29"
                height="29"
                viewBox="0 0 29 29"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="1.5"
                  y="1.54883"
                  width="26"
                  height="26"
                  rx="13"
                  stroke="black"
                  stroke-opacity="0.4"
                  stroke-width="2"
                />
                <path
                  d="M11.24 18.809H14.0533V14.329H11.24V12.569H16.1333V18.809H19.0933V20.569H11.24V18.809ZM13.6666 9.0623C13.6666 8.72897 13.7867 8.44897 14.04 8.20897C14.28 7.96897 14.6267 7.8623 15.0667 7.8623C15.5067 7.8623 15.8667 7.9823 16.1333 8.20897C16.4 8.44897 16.5333 8.72897 16.5333 9.0623C16.5333 9.39564 16.4 9.68897 16.1333 9.9023C15.8667 10.1156 15.5067 10.2356 15.0667 10.2356C14.6267 10.2356 14.2933 10.129 14.04 9.9023C13.8 9.68897 13.6666 9.40897 13.6666 9.0623Z"
                  fill="black"
                  fill-opacity="0.4"
                />
              </svg> </a
          ></nobr>
        </h1>

        <div class="spacer-24 m-spacer-16"></div>

        <a class="type-48 m-type-30-light l-type-36" href="/#">
          Call to Action
          <svg
            width="33"
            height="22"
            viewBox="0 0 33 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M22.1687 21.427L20.0935 19.3942L27.0812 12.4489H0.5V9.5692H27.0812L20.0512 2.58159L22.1263 0.548828L32.5865 11.0091L22.1687 21.427Z"
              fill="#0096F7"
            />
          </svg>
        </a>
        <div class="spacer-24 m-spacer-16"></div>
        <div
          class="nobr type-15 m-type-14 l-type-14 color-text-40 cta-section-link"
        >
          <nobr>Question?</nobr>
          <nobr>
            <a class="color-text-60" onclick="Contact.show({ page: 'expand' })">
              Link to answer
              <svg
                width="6"
                height="9"
                viewBox="0 0 6 9"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.713212 0.76296C0.428929 1.04724 0.428929 1.50647 0.713212 1.79075L3.54146 4.619L0.713212 7.44724C0.428929 7.73152 0.428929 8.19075 0.713212 8.47503C0.997494 8.75931 1.45672 8.75931 1.741 8.47503L5.08679 5.12925C5.37107 4.84496 5.37107 4.38574 5.08679 4.10146L1.741 0.755671C1.46401 0.478677 0.997494 0.478678 0.713212 0.76296Z"
                  fill="black"
                  fill-opacity="0.6"
                />
              </svg>
            </a>
          </nobr>
        </div>
      </div>
      <!-- <img
        loading="lazy"
        alt="image placholder"
        width="1000"
        height="230"
        src="/"
      /> -->
    </div>
    <div class="spacer-8"></div>
  </div>

  <div class="slide basement">
    <div class="spacer-64"></div>
    <div class="modern-grid">
      <a
        class="column-3 l-column-4 m-column-6 doorway-item doorway-item type-24-light m-type-18-light"
        href="/#"
      >
        <div class="doorway-item-foreground">
          <div>Doorway 1</div>
          <nobr class="nobr"
            >Learn more
            <img
              class="doorway-item-arrow"
              src="/assets/images/icons/arrow-right-black.svg"
              width="24"
              height="16"
              alt="→"
              loading="lazy"
          /></nobr>
        </div>
        <img
          class="doorway-item-background"
          srcset="/assets/images/home/315x432.jpg"
          alt=""
          loading="lazy"
          width="315"
          height="432"
        />
      </a>

      <a
        class="column-3 l-column-4 m-column-6 doorway-item type-24-light m-type-18-light"
        href="/#"
      >
        <div class="doorway-item-foreground">
          <div>Doorway 2</div>
          <nobr class="nobr"
            >Learn more
            <img
              class="doorway-item-arrow"
              src="/assets/images/icons/arrow-right-black.svg"
              width="24"
              height="16"
              alt="→"
              loading="lazy"
          /></nobr>
        </div>
        <img
          class="doorway-item-background"
          srcset="/assets/images/home/315x432.jpg"
          alt=""
          loading="lazy"
          width="315"
          height="432"
        />
      </a>

      <a
        class="column-3 l-column-4 m-column-6 doorway-item type-24-light l-type-18-light m-type-18-light"
        href="/#"
      >
        <div class="doorway-item-foreground">
          <div>Doorway 3</div>
          Learn more
          <nobr class="nobr">
            <img
              class="doorway-item-arrow"
              src="/assets/images/icons/arrow-right-black.svg"
              width="24"
              height="16"
              alt="→"
              loading="lazy"
          /></nobr>
        </div>
        <img
          class="doorway-item-background"
          srcset="/assets/images/home/315x432.jpg"
          alt=""
          loading="lazy"
          width="315"
          height="432"
        />
      </a>

      <a
        class="column-3 l-column-4 m-column-6 doorway-item type-24-light m-type-18-light"
        href="/#"
      >
        <div class="doorway-item-foreground">
          <div>Doorway 4</div>
          <nobr class="nobr"
            >Learn more
            <img
              class="doorway-item-arrow"
              src="/assets/images/icons/arrow-right-black.svg"
              width="24"
              height="16"
              alt="→"
              loading="lazy"
          /></nobr>
        </div>
        <img
          class="doorway-item-background"
          srcset="/assets/images/home/315x432.jpg"
          alt=""
          loading="lazy"
          width="315"
          height="432"
        />
      </a>
    </div>
  </div>
</div>
