<div class="slides">
  <div class="slide visible xl" data-invert="true">
    <div class="xl-title">
      A simple,<br />
      single page<br />
      app, a.k.a<br />
    </div>
    <div class="xl-xl">SPA</div>
    <div class="xl-subtitle">
      Incl. routing, state mgmt,<br />
      and page transitions.
    </div>
    <a
      class="xl-learn-more type-14 button-rounded button-rounded-blue"
      href="/"
    >
      Learn more
      <svg
        width="9"
        height="7"
        viewBox="0 0 9 7"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.08709 0.459961L8.05509 3.42796L5.08709 6.39596H3.50509L5.84309 4.04396H0.663086V2.79796L5.84309 2.81196L3.50509 0.459961H5.08709Z"
          fill="white"
        ></path>
      </svg>
    </a>
    <!-- <a href="/">
      <img
        class="xl-hero-image"
        srcset="/assets/images/home/spa.png"
        alt="Backyard XL"
        width="767"
        height="645"
      />
    </a> -->
  </div>
  <div class="slide visible intro">
    <div class="intro-container">
      <div class="spacer-100 m-spacer-16"></div>
      <h1 class="color-text-100 intro-title">
        SimpleSPA is the super simple, smartly customizable, all-new ADU from
        Samara. Discover Samara's Backyard homes and ADUs. Elevated design,
        expertly crafted. Fast and easy installation. Solar-powered and
        future-ready.
      </h1>
      <h2 class="color-text-100" data-nosnippet>
        SimpleSPA
        <div class="intro-elevation" style="width: calc(0.9em * 120 / 55)">
          <img
            srcset="/assets/images/home/intro-spa-1.png"
            alt=""
            style="left: calc(-0.8em * 120 / 65 * 0.23)"
          />
        </div>
        <br class="mobile" />is a<br />
        super simple,<br class="mobile" />
        <div
          class="intro-elevation mobile"
          style="width: calc(0.9em * 250 / 75 * 0.95)"
        >
          <img
            srcset="/assets/images/home/intro-spa-2.png"
            alt=""
            style="
              left: calc(-0.4em * 250 / 75 * 0.195);
              height: 2.3em;
              top: -1.45em;
            "
          />
        </div>
        smartly <br class="mobile" /><br />
        customizable, <br class="mobile" />
        <div
          class="intro-elevation desktop"
          style="width: calc(1em * 167 / 104 * 1.2)"
        >
          <img
            srcset="/assets/images/home/intro-spa-2.png"
            alt=""
            style="
              left: calc(-0.7em * 167 / 104 * 0.35);
              top: -1.3em;
              height: 1.845em;
            "
          />
        </div>
        vanilla <br />
        <div
          class="intro-elevation mobile"
          style="width: calc(0.9em * 167 / 104 * 1.2)"
        >
          <img
            srcset="/assets/images/home/intro-spa-3.png"
            alt=""
            style="
              left: calc(-0.55em * 250 / 75 * 0.95);
              height: 2em;
              top: -1.3em;
            "
          />
        </div>
        SPA <br class="mobile" />
        <div
          class="intro-elevation desktop"
          style="width: calc(0.8em * 250 / 75)"
        >
          <img
            srcset="/assets/images/home/intro-spa-3.png"
            alt=""
            style="
              left: calc(-2.3em * 250 / 75 * 0.15);
              height: 2em;
              top: -1.3em;
            "
          />
        </div>
        boilerplate.
      </h2>
    </div>
    <div class="intro-cta">
      <div class="spacer-64"></div>
      <div class="type-36 m-type-24-light">
        Batteries included, from routing to page transitions.
      </div>
      <div class="type-36 m-type-24-light color-text-40">Available now.</div>
      <div class="spacer-24 m-spacer-32"></div>
      <div class="spacer-120 m-spacer-64"></div>
      <div class="spacer-24 m-spacer-0"></div>
    </div>
  </div>
</div>
