<div class="slides">
  <div
    class="slide visible models-overview-header page-section"
    data-invert="true"
  >
    <div class="page-section-container">
      <div class="modern-grid">
        <div class="column-1"></div>
        <div class="column-10">
          <div class="spacer-120 m-spacer-80"></div>
          <div class="spacer-100 m-spacer-0"></div>
          <h1 class="type-120 m-type-60">
            Multi Menu<br />
            Collection page.<br />
          </h1>
          <div class="spacer-50 m-spacer-72"></div>
          <p class="type-24-light">Discover or compare items</p>
          <div class="spacer-150 m-spacer-72"></div>
          <div class="spacer-150 m-spacer-72"></div>
          <div class="spacer-100 m-spacer-0"></div>
          <div class="spacer-100 m-spacer-0"></div>
          <div class="spacer-100 m-spacer-0"></div>
          <div class="spacer-100 m-spacer-0"></div>
          <div class="spacer-100 m-spacer-0"></div>
          <div class="spacer-150 m-spacer-72"></div>
        </div>
      </div>
    </div>
  </div>
</div>
