<div class="slides">
  <div
    class="slide visible models-overview-header page-section"
    data-invert="true"
  >
    <div class="page-section-container">
      <div class="modern-grid">
        <div class="column-1"></div>
        <div class="column-10">
          <div class="spacer-120 m-spacer-80"></div>
          <div class="spacer-100 m-spacer-0"></div>
          <h1 class="type-120 m-type-60">
            Multi Menu<br />
            Collection page.<br />
          </h1>
          <div class="spacer-50 m-spacer-72"></div>
          <p class="type-24-light">Discover or compare items</p>
          <p class="type-24-light color-white-60">
            Starting at $120 plus shipping.
          </p>
          <div class="spacer-150 m-spacer-72"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="slide models-lineup" data-invert="false">
    <div class="spacer-72"></div>
    <div class="models-lineup-scroll">
      <div class="models-lineup-scroll-container">
        <div class="models-lineup-scroll-model">
          <div class="models-lineup-scroll-model-label type-18 alt">
            Obsidian Cube One
          </div>
          <div class="spacer-12"></div>
          <h2 class="type-36">
            Minimalist Design,<br />
            Maximum Versatility.
          </h2>
          <div class="spacer-12"></div>
          <div
            class="type-14 color-text-60 models-lineup-scroll-model-subtitle"
          >
            5 in²
            <span>|</span>
            1.2 lbs
            <span>|</span>
            200 watts
          </div>
          <div class="models-lineup-scroll-model-elevation">
            <a href="/"
              ><img
                loading="lazy"
                src="/assets/images/products/one-black-1000.png"
                alt="Product Placeholder Image"
            /></a>
          </div>
          <div class="type-21-light m-type-18-light color-text-40">
            Starting at
          </div>
          <div class="type-30-light">
            $120
            <span class="type-14 color-text-40">plus shipping</span>
          </div>
          <div class="spacer-24"></div>
          <div class="models-lineup-scroll-model-actions">
            <a
              href="/"
              class="button-rounded button-squared button-rounded-blue"
              >Explore</a
            >
            <a
              href="/"
              class="button-rounded button-squared button-rounded-grey type-regola-regular"
              >Customize</a
            >
          </div>
        </div>
        <div class="models-lineup-scroll-model">
          <div class="models-lineup-scroll-model-label type-18 alt">
            Product Name 2
          </div>
          <div class="spacer-12"></div>
          <h2 class="type-36">Sub heading.</h2>
          <div class="spacer-12"></div>
          <div
            class="type-14 color-text-60 models-lineup-scroll-model-subtitle"
          >
            10 inches
            <span>|</span>
            1st detail
            <span>|</span>
            2nd detail
          </div>
          <div class="models-lineup-scroll-model-elevation">
            <a href="/"
              ><img
                loading="lazy"
                src="/assets/images/products/two-black-1000.png"
                alt="Product Placeholder Image"
            /></a>
          </div>
          <div class="type-21-light m-type-18-light color-text-40">
            Starting at
          </div>
          <div class="type-30-light">
            $270
            <span class="type-14 color-text-40">plus shipping</span>
          </div>
          <div class="spacer-24"></div>
          <div class="models-lineup-scroll-model-actions">
            <a
              href="/"
              class="button-rounded button-squared button-rounded-blue"
              >Explore</a
            >
            <a
              href="/"
              class="button-rounded button-squared button-rounded-grey type-regola-regular"
              >Customize</a
            >
          </div>
        </div>
        <div class="models-lineup-scroll-model">
          <div class="models-lineup-scroll-model-label type-18 alt">
            Product Name 3
          </div>
          <div class="spacer-12"></div>
          <h2 class="type-36">Sub heading.</h2>
          <div class="spacer-12"></div>
          <div
            class="type-14 color-text-60 models-lineup-scroll-model-subtitle"
          >
            15 inches
            <span>|</span>
            1st detail
            <span>|</span>
            2nd detail
          </div>
          <div class="models-lineup-scroll-model-elevation">
            <a href="/"
              ><img
                loading="lazy"
                src="/assets/images/products/three-black-1000.png"
                alt="Product Placeholder Image"
            /></a>
          </div>
          <div class="type-21-light m-type-18-light color-text-40">
            Starting at
          </div>
          <div class="type-30-light">
            $310
            <span class="type-14 color-text-40">plus shipping</span>
          </div>
          <div class="spacer-24"></div>
          <div class="models-lineup-scroll-model-actions">
            <a
              href="/"
              class="button-rounded button-squared button-rounded-blue"
              >Explore</a
            >
            <a
              href="/"
              class="button-rounded button-squared button-rounded-grey type-regola-regular"
              >Customize</a
            >
          </div>
        </div>
        <div
          class="models-lineup-scroll-model models-lineup-scroll-model-cant-decide"
        >
          <div class="models-lineup-scroll-model-cant-decide-container">
            <img
              loading="lazy"
              src="/assets/images/products/cant-decide-1000.png"
              width="324"
              height="454"
              alt="Can't decide? We can help."
            />
            <h4 class="type-36 m-type-42 color-white">
              Can't decide?<br />
              We can help.
            </h4>
            <button
              class="button-rounded button-squared button-rounded-grey type-regola-regular"
              onclick="Contact.show()"
            >
              Get in touch
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer-72 m-spacer-24"></div>
    <div class="page-section">
      <div class="modern-grid page-section-container">
        <div class="column-1"></div>
        <div class="column-10">
          <a
            class="type-30 m-type-18 models-lineup-compare-link"
            href="/compare"
          >
            Compare detailed specs
            <svg
              style="width: auto; height: 0.55em"
              width="33"
              height="22"
              viewBox="0 0 33 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M22.1687 21.427L20.0935 19.3942L27.0812 12.4489H0.5V9.5692H27.0812L20.0512 2.58159L22.1263 0.548828L32.5865 11.0091L22.1687 21.427Z"
                fill="#0096F7"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="spacer-72"></div>
  </div>

  <div
    class="slide page-section models-lineup-collage-section"
    data-invert="false"
  >
    <div class="page-section-container">
      <div class="models-lineup-collage">
        <h1
          data-models-parallax="0.0,0.2"
          data-models-parallax-mobile="-0.025,0.025"
        >
          Introducing:<br />
          The Obsidian Cube
        </h1>

        <img
          data-models-parallax="0.0,0.1"
          data-models-parallax-mobile="-0.05,0.1"
          src="/assets/images/products/collage-one-2000.png"
          width="935"
          height="623"
        />

        <div
          data-models-parallax="-0.25,0.05"
          data-models-parallax-mobile="0.0,0.05"
        >
          <p class="mobile-hidden type-15 m-type-18-light">
            A minimalist desktop companion blending form and function. Its matte
            black finish, seamless edges, and subtle illumination complement any
            workspace. Modular and versatile, this sleek monolith adapts to your
            creative productivity needs effortlessly.
          </p>
          <img
            src="/assets/images/products/collage-two-1000.png"
            width="428"
            height="280"
          />
        </div>

        <p
          class="desktop-hidden type-15 m-type-18-light"
          data-models-parallax="-0.25,0.05"
          data-models-parallax-mobile="0.0,-0.015"
        >
          Whether you need a quiet place to focus or a rental unit that creates
          an additional income stream, you never know what tomorrow might hold.
          Backyard adapts to your life—no matter what life throws at you.
        </p>
      </div>
    </div>
  </div>
</div>
