<article>
  <div class="spacer-150 m-spacer-120"></div>
  <div class="spacer-150 l-spacer-32 m-spacer-0"></div>

  <div class="modern-grid">
    <div class="column-1 l-column-0 m-column-0"></div>
    <div class="column-10 l-column-12 m-column-6">
      <h1 class="type-120 m-type-72">
        <span class="alt">Obsidian</span> Cube One
      </h1>
      <div class="spacer-36"></div>
      <div class="product-models-header-content">
        <div class="product-models-header-content-subtitle">
          <p class="type-24-light l-type-21-light">5 in² squared</p>
          <p class="type-24-light l-type-21-light color-text-60">$120.00 /unit</p>
        </div>
        <div class="product-models-navigation type-15 m-type-12">
          <a class="button-inner-navigation" href="#floor-plan">Diagram</a>
          <a class="button-inner-navigation" href="#image-gallery"
            >Image gallery</a
          >

          <a class="button-inner-navigation" href="#tech-specs">Tech specs</a>
        </div>
      </div>
    </div>
  </div>

  <div class="spacer-150 l-spacer-64 m-spacer-64"></div>

  <div class="modern-grid m-modern-grid-full">
    <div class="column-12 m-column-6">
      <img
        srcset="/assets/images/products/horizontal-3000.png"
        width="1330"
        height="750"
        class="rounded-6 m-rounded-0 full-width product-models-header-image"
      />
    </div>
  </div>

  <div class="product-models-intro">
    <div class="spacer-72 m-spacer-32"></div>
    <div class="product-models-intro-container">
      <div class="modern-grid">
        <div class="column-1 m-column-0"></div>
        <div
          class="column-5 m-column-6 product-models-intro-text"
          data-models-parallax="0.0,0.2"
        >
          A minimalist desktop companion blending form and function. Its matte
          black finish, seamless edges, and subtle illumination complement any
          workspace.
        </div>
        <div class="column-1 m-column-0"></div>
        <div class="column-5 m-column-6">
          <img
            srcset="/assets/images/products/vertical-1200.png"
            width="540"
            height="720"
            class="full-width"
            loading="lazy"
          />
        </div>
      </div>
    </div>
    <div class="spacer-100 m-spacer-50"></div>
  </div>

  <div class="product-models-floorplan" id="floor-plan">
    <div class="spacer-150 m-spacer-64"></div>
    <div class="modern-grid">
      <div class="column-1 m-column-0"></div>
      <div class="column-10 m-column-3">
        <div class="product-models-floorplan-dimensions">
          <div class="product-models-floorplan-dimensions-image">
            <img
              src="/assets/images/products/horizontal-2000.png"
              class="mobile-hidden"
              style="transform: translateX(-2.5%)"
              loading="lazy"
            />
            <img
              src="/assets/images/products/horizontal-2000.png"
              class="desktop-hidden"
              style="transform: scale(105%) translateX(1.5%) translateY(-1%)"
              loading="lazy"
            />
          </div>
          <div
            class="product-models-dimension product-models-dimension-horizontal"
          >
            <div
              class="type-14 m-type-12 color-text-60 mono-nums mobile-hidden"
            >
              5"
            </div>
            <div
              class="type-14 m-type-12 color-text-60 mono-nums desktop-hidden"
            >
              5"
            </div>
            <img
              src="/assets/images/icons/dimension-arrow-right.svg"
              loading="lazy"
            />
            <img
              src="/assets/images/icons/dimension-arrow-right.svg"
              loading="lazy"
            />
          </div>
          <div
            class="product-models-dimension product-models-dimension-vertical"
          >
            <div
              class="type-14 m-type-12 color-text-60 mono-nums mobile-hidden"
            >
              5"
            </div>
            <div
              class="type-14 m-type-12 color-text-60 mono-nums desktop-hidden"
            >
              5"
            </div>
            <img
              src="/assets/images/icons/dimension-arrow-top.svg"
              loading="lazy"
            />
            <img
              src="/assets/images/icons/dimension-arrow-top.svg"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="spacer-150 m-spacer-80"></div>
    <div class="modern-grid">
      <div class="column-1 m-column-0"></div>
      <div
        class="column-2 l-column-3 m-column-3 type-15 m-type-14 color-text-60"
      >
        Square inches:<br />5in.
      </div>
      <div
        class="column-2 l-column-3 m-column-3 type-15 m-type-14 color-text-60"
      >
        Space requirement:<br />5" x 5"
      </div>
      <div
        class="mobile-hidden column-4 l-column-3 m-column-3 type-15 color-text-60 product-models-floorplan-download"
      >
        Downloads:<br />
        <a
          href="/"
          target="_blank"
        >
          Assembly (PDF)<img
            src="/assets/images/icons/download-blue.svg"
            width="15"
            height="15"
            alt="Download"
            loading="lazy"
          />
        </a>
      </div>
      <div
        class="desktop-hidden m-column-6 type-15 m-type-14 color-text-60 product-models-floorplan-download"
      >
        <div class="spacer-24"></div>
        <a
          href="/"
          target="_blank"
        >
          Dimensioned plans&nbsp;(PDF)&nbsp;<img
            src="/assets/images/icons/download-blue.svg"
            width="15"
            height="15"
            alt="Download"
            loading="lazy"
          />
        </a>
      </div>
    </div>
    <div class="spacer-50 m-spacer-50"></div>
  </div>

  <div class="product-models-hero" id="image-gallery">
    <img
      srcset="/assets/images/products/horizontal-2000.png"
      width="1440"
      height="880"
      class="full-width"
    />
    <h1>
      <div class="spacer-100 m-spacer-36"></div>
      Think big.<br />Live small.
    </h1>
  </div>

  <div class="slider-carousel slider-carousel-white">
    <div class="spacer-120 m-spacer-24"></div>
    <div class="slider-carousel-cards">
      <div class="slider-carousel-cards-card">
        <div class="spacer-8"></div>
        <div class="slider-carousel-cards-card-images">
          <img
            srcset="/assets/images/home/2000x1500.jpg"
          />
        </div>
        <div class="spacer-24 m-spacer-16"></div>
        <p class="type-15 m-type-14">
          A slideshow is used for cycling through content. Add captions easily, they can be easily hidden on smaller viewports. The carousel is responsive, and will automatically adapt to the available space.
        </p>
      </div>
      <div class="slider-carousel-cards-card">
        <div class="spacer-8"></div>
        <div class="slider-carousel-cards-card-images">
          <img
            srcset="/assets/images/home/2000x1500.jpg"
          />
        </div>
        <div class="spacer-24 m-spacer-16"></div>
        <p class="type-15 m-type-14">
          A slideshow is used for cycling through content. Add captions easily, they can be easily hidden on smaller viewports. The carousel is responsive, and will automatically adapt to the available space.
        </p>
      </div>
      <div class="slider-carousel-cards-card">
        <div class="spacer-8"></div>
        <div class="slider-carousel-cards-card-images">
          <img
            srcset="/assets/images/home/2000x1500.jpg"
          />
        </div>
        <div class="spacer-24 m-spacer-16"></div>
        <p class="type-15 m-type-14">
          A slideshow is used for cycling through content. Add captions easily, they can be easily hidden on smaller viewports. The carousel is responsive, and will automatically adapt to the available space.
        </p>
      </div>
      <div class="slider-carousel-cards-card">
        <div class="spacer-8"></div>
        <div class="slider-carousel-cards-card-images">
          <img
            srcset="/assets/images/home/2000x1500.jpg"
          />
        </div>
        <div class="spacer-24 m-spacer-16"></div>
        <p class="type-15 m-type-14">
          A slideshow is used for cycling through content. Add captions easily, they can be easily hidden on smaller viewports. The carousel is responsive, and will automatically adapt to the available space.
        </p>
      </div>
      <div class="slider-carousel-cards-card">
        <div class="spacer-8"></div>
        <div class="slider-carousel-cards-card-images">
          <img
            srcset="/assets/images/home/2000x1500.jpg"
          />
        </div>
        <div class="spacer-24 m-spacer-16"></div>
        <p class="type-15 m-type-14"></p>
      </div>
    </div>
    <div class="slider-carousel-paging-indicator desktop-hidden">
      <div class="spacer-36"></div>
      <ul
        class="paging-indicator"
        data-scroll-element-selector=".slider-carousel-cards"
      >
        <li class="paging-indicator-current"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="spacer-120 m-spacer-72"></div>
  </div>

  <div class="product-models-collage">
    <div
      class="product-models-collage-text product-models-collage-text-studio"
    >
      Modular and versatile, this sleek monolith adapts to your creative productivity needs effortlessly.
    </div>
    <img
      src="/assets/images/products/vertical-2-1400.png"
      class="product-models-collage-image-one-one"
      loading="lazy"
      data-models-parallax="-0.2,0.2"
    />
    <img
      src="/assets/images/products/vertical-2-1400.png"
      class="product-models-collage-image-two-one"
      loading="lazy"
      data-models-parallax="-0.15,0.025"
    />
    <img
      src="/assets/images/products/vertical-2-1400.png"
      class="product-models-collage-image-three-one"
      loading="lazy"
      data-models-parallax="-0.1,0.01"
      data-models-parallax-mobile="-0.1,0.075"
    />
  </div>

  <div class="product-models-specs">
    <div class="spacer-150 m-spacer-100"></div>
    <div class="spacer-150 l-spacer-0 m-spacer-0"></div>
    <div class="modern-grid m-modern-grid-full">
      <div class="column-1 m-column-0"></div>
      <div class="column-10 m-column-6">
        <img
          src="/assets/images/products/horizontal-2000.png"
          width="1106"
          height="622"
          class="full-width rounded-6 m-rounded-0"
          loading="lazy"
        />
      </div>
    </div>
    <div class="spacer-120 m-spacer-50"></div>
    <div class="modern-grid" id="tech-specs">
      <div class="column-1 m-column-0"></div>
      <div class="column-10 m-column-6">
        <h4 class="type-72 m-type-42">Tech specs</h4>
      </div>
    </div>
    <div class="spacer-80 m-spacer-50"></div>
    <div class="modern-grid">
      <div class="column-1 m-column-0"></div>
      <div class="column-10 m-column-6 product-models-specs-table">
        <div class="product-models-specs-table-group">
          <div class="product-models-specs-table-section">
            <div class="type-18 color-text-60">Starting at</div>
            <div class="spacer-16 m-spacer-8"></div>
            <div class="type-18">$152.00</div>
            <div class="spacer-4"></div>
            <div class="type-14 color-text-40">plus shipping</div>
            <div class="spacer-50 m-spacer-36"></div>
          </div>
        </div>
        <div class="product-models-specs-table-group">
          <div class="product-models-specs-table-section">
            <div class="type-18 color-text-60">Square inch</div>
            <div class="spacer-16 m-spacer-8"></div>
            <div class="type-18">5 in</div>
            <div class="spacer-50 m-spacer-36"></div>
          </div>
        </div>
        <div class="product-models-specs-table-group">
          <div class="product-models-specs-table-section">
            <div class="type-18 color-text-60">Unit dimensions</div>
            <div class="spacer-4"></div>
            <div class="spacer-16 m-spacer-8"></div>
            <div class="type-18">5" W x 5" H</div>
            <div class="spacer-4"></div>
            <div class="spacer-50 m-spacer-36"></div>
          </div>
        </div>
        <div class="product-models-specs-table-group">
          <div class="product-models-specs-table-section">
            <div class="type-18 color-text-60">Power</div>
            <div class="spacer-16 m-spacer-8"></div>
            <div class="type-18">240V</div>
            <div class="spacer-50 m-spacer-36"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer-50 m-spacer-0"></div>
    <div class="modern-grid product-models-specs-table-collapsible">
      <input type="checkbox" class="desktop-hidden" />
      <img class="desktop-hidden" src="/assets/images/icons/faq-up.svg" />
      <div class="column-1 m-column-0"></div>
      <div class="column-10">
        <hr class="desktop-hidden" />
        <h5 class="type-42">Finishes</h5>
        <div class="spacer-36"></div>
      </div>
    </div>
    <div class="modern-grid product-models-specs-table-collapsible-content">
      <div class="column-1 m-column-0"></div>
      <div class="column-10 m-column-6 product-models-specs-table">
        <div class="product-models-specs-table-group">
          <div class="product-models-specs-table-section">
            <div class="type-18 color-text-60">Colors</div>
            <div class="spacer-16 m-spacer-8"></div>
            <div class="specs-content-colors">
              <div class="specs-content-colors-driftwood">
                <div class="type-12">Brushed</div>
              </div>
              <div class="specs-content-colors-dark-bronze">
                <div class="type-12">Black</div>
              </div>
            </div>
            <div class="spacer-50 m-spacer-36"></div>
          </div>

          <div class="product-models-specs-table-section">
            <div class="type-18 color-text-60">Powercord colors</div>
            <div class="spacer-16 m-spacer-8"></div>
            <div class="specs-content-colors">
              <div class="specs-content-colors-dark-bronze">
                <div class="type-12">Black</div>
              </div>
              <div class="specs-content-colors-metallic-silver">
                <div class="type-12">Brushed</div>
              </div>
            </div>
            <div class="spacer-50 m-spacer-36"></div>
          </div>
        </div>
        <div class="product-models-specs-table-group">
          <div class="product-models-specs-table-section">
            <div class="type-18 color-text-60">Feature</div>
            <div class="spacer-16 m-spacer-8"></div>
            <div class="type-15">
              Precision-engineered light-gauge aluminum case
            </div>
            <div class="spacer-50 m-spacer-36"></div>
          </div>

          <div class="product-models-specs-table-section">
            <div class="type-18 color-text-60">Feature</div>
            <div class="spacer-16 m-spacer-8"></div>
            <div class="type-15">
              PlainJane®-details about this would live here
            </div>
            <div class="spacer-50 m-spacer-36"></div>
          </div>

          <div class="product-models-specs-table-section">
            <div class="type-18 color-text-60">Feature</div>
            <div class="spacer-16 m-spacer-8"></div>
            <div class="type-15">
              Details about this perticular detail would be here
            </div>
            <div class="spacer-16 m-spacer-12"></div>
            <div class="type-15">
              Details about this perticular detail would be here
            </div>
            <div class="spacer-50 m-spacer-36"></div>
          </div>
        </div>
        <div class="product-models-specs-table-group">
          <div class="product-models-specs-table-section">
            <div class="type-18 color-text-60">Feature</div>
            <div class="spacer-16 m-spacer-8"></div>
            <div class="type-15">
              <span class="prop-nums">8-10</span> words about the details of the feature would go here
            </div>
            <div class="spacer-16 m-spacer-12"></div>
            <div class="type-15">
               <span class="prop-nums">8-10</span> words about the details of the feature would go here
            </div>
            <div class="spacer-16 m-spacer-12"></div>
            <div class="type-15">
               <span class="prop-nums">8-10</span> words about the details of the feature would go here
            </div>
            <div class="spacer-16 m-spacer-12"></div>
            <div class="type-15">
              Details about this perticular detail would be here
            </div>
            <div class="spacer-50 m-spacer-36"></div>
          </div>
        </div>
        <div class="product-models-specs-table-group">
          <div class="product-models-specs-table-section">
            <div class="type-18 color-text-60">Feature</div>
            <div class="spacer-16 m-spacer-8"></div>
            <div class="type-15">Details about this perticular detail would be here</div>
            <div class="spacer-16 m-spacer-12"></div>
            <div class="type-15">
              Additional details to be included here
            </div>
            <div class="spacer-50 m-spacer-36"></div>
          </div>

          <div class="product-models-specs-table-section">
            <div class="type-18 color-text-60">Feature</div>
            <div class="spacer-16 m-spacer-8"></div>
            <div class="type-15">Details about this perticular detail would be here</div>
            <div class="spacer-50 m-spacer-36"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer-50 m-spacer-0"></div>
  </div>

   <div class="modern-grid product-models-doorway-container">
    <div class="column-1 l-column-0"></div>
    <div class="column-10 l-column-12">
      <div class="spacer-64 m-spacer-36"></div>
      <h3 class="type-42 m-type-21-light">Related products:</h3>
      <div class="spacer-50 m-spacer-24"></div>
      <div class="product-models-doorway">
        <a
          class="doorway-item doorway-item type-24-light m-type-18-light"
          href="one-bedroom"
        >
          <div class="doorway-item-foreground">
            <div>Collection series.</div>
            Product name
            <img
              class="doorway-item-arrow"
              src="/assets/images/icons/arrow-right-black.svg"
              width="24"
              height="16"
              alt="→"
              loading="lazy"
            />
          </div>
          <img
            class="doorway-item-background"
            srcset="/assets/images/home/315x432.jpg"
            alt="image alt text"
            loading="lazy"
            width="315"
            height="432"
          />
        </a>

        <a
          class="doorway-item doorway-item type-24-light m-type-18-light"
          href="two-bedroom"
        >
          <div class="doorway-item-foreground">
            <div>Collection series.</div>
            Product name
            <img
              class="doorway-item-arrow"
              src="/assets/images/icons/arrow-right-black.svg"
              width="24"
              height="16"
              alt="→"
              loading="lazy"
            />
          </div>
          <img
            class="doorway-item-background"
            srcset="/assets/images/home/315x432.jpg"
            alt="image alt text"
            loading="lazy"
            width="315"
            height="432"
          />
        </a>

        <a
          class="doorway-item doorway-item type-24-light m-type-18-light"
          href="xl-8"
        >
          <div class="doorway-item-foreground">
            <div>Collection series.</div>
            Product name
            <img
              class="doorway-item-arrow"
              src="/assets/images/icons/arrow-right-black.svg"
              width="24"
              height="16"
              alt="→"
              loading="lazy"
            />
          </div>
          <img
            class="doorway-item-background"
            srcset="/assets/images/home/315x432.jpg"
            alt="image alt text"
            loading="lazy"
            width="315"
            height="432"
          />
        </a>
      </div>
    </div>
  </div>
</article>
  <div class="spacer-120 m-spacer-72"></div>
</div>
