<div class="page-section">
  <div class="page-section-container">
    <div class="spacer-150"></div>

    <div class="modern-grid vip-hero">
      <div class="column-12 m-column-6">
        <div class="vip-hero-title">
          <div class="spacer-100 m-spacer-24"></div>
          <img
            src="/assets/images/logo.svg"
            width="288"
            height="39"
            alt="Members VIP logo"
          />
          <div class="spacer-64 m-spacer-32"></div>
          <h1 class="type-96 m-type-48">
            Your title<br class="mobile-hidden" />
            goes here<br class="mobile-hidden" />
            for this template.
          </h1>
          <div class="spacer-64"></div>
          <div class="m-spacer-24"></div>
        </div>

        <img
          width="1333"
          height="1666"
          class="vip-hero-photo"
          src="/assets/images/vip/hero-2880.png"
          alt="Quickly unlock the potential of your parcel."
        />
      </div>
    </div>

    <div class="spacer-150 m-spacer-100"></div>

    <div class="modern-grid vip-heading">
      <div class="column-1"></div>
      <div class="column-10">
        <h2 class="type-72 m-type-36">Just a placeholder heading here—</h2>
      </div>
    </div>

    <div class="spacer-64 m-spacer-32"></div>

    <div class="modern-grid vip-text">
      <div class="column-4 m-column-0"></div>
      <div class="column-4 m-column-6 type-18 m-type-15">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet
          pulvinar felis blandit finibus. Proin eu nibh a arcu hendrerit
          condimentum at scelerisque quam.
        </p>
        <div class="spacer-24"></div>
        <p>
          Sed accumsan mauris quis dictum ullamcorper. Mauris ac suscipit
          turpis. Vestibulum elit odio, luctus eu ex quis, pulvinar ullamcorper
          tortor. Nam nibh urna, sagittis eu justo nec, interdum pretium velit.
          Donec laoreet cursus erat, sed auctor orci.
        </p>
      </div>
    </div>

    <div class="spacer-120 m-spacer-64"></div>

    <div class="modern-grid vip-community">
      <div class="column-1 m-column-0"></div>
      <div class="column-10 m-column-6">
        <img
          src="/assets/images/vip/community-2880.png"
          alt="Multiunit rural community."
          width="1106"
          height="956"
        />
      </div>
    </div>

    <div class="spacer-100 m-spacer-64"></div>

    <div class="modern-grid vip-heading">
      <div class="column-1"></div>
      <div class="column-10">
        <h2 class="type-72 m-type-36">—and a subheading here.</h2>
      </div>
    </div>

    <div class="spacer-64 m-spacer-32"></div>

    <div class="modern-grid vip-text">
      <div class="column-4 m-column-0"></div>
      <div class="column-4 m-column-6 type-18 m-type-15">
        <p>
          Fusce varius eleifend sodales. Etiam condimentum erat id libero dictum
          pretium. Vestibulum sed augue tortor. Praesent rutrum convallis leo,
          vel porta quam congue eu. Phasellus nec ipsum tortor. Praesent urna
          ligula, sodales ac ligula eu, convallis volutpat urna. Suspendisse in.
        </p>
      </div>
    </div>

    <div class="spacer-120 m-spacer-64"></div>

    <div class="modern-grid vip-hr">
      <div class="column-12">
        <hr />
      </div>
    </div>

    <div class="modern-grid vip-form">
      <div class="column-1 m-column-0"></div>
      <div class="column-5 m-column-6">
        <div class="spacer-150 m-spacer-100"></div>
        <h3 class="type-60 m-type-36">
          Short headline<br />
          question?<br />
          Call to Action.
        </h3>
        <div class="spacer-24"></div>
        <p class="type-24 m-type-15">
          Vivamus placerat vehicula mauris quis tincidunt. Praesent vulputate
          elit ut rhoncus pellentesque. Cras.
        </p>
      </div>
      <div class="column-5 m-column-6">
        <div class="spacer-150 m-spacer-64"></div>
        <div id="get-in-touch-form"></div>
      </div>
    </div>

    <div class="spacer-120"></div>
    <div class="spacer-120"></div>
  </div>
</div>
