/* ******************** */
/* Section: Call to Action */
/* ******************** */

.cta-section {
    flex-direction: column;
    min-height: unset !important;
    box-sizing: border-box;
    padding: 0 var(--modern-grid-column-margin);
    background: #fdfdf7;
    aspect-ratio: 1440/552;
}

.cta-section .modern-grid {
    height: 100%;
    padding: 0;
    border-radius: 12px;
    background: #f7f7f0;
    box-shadow: 0 .5px 2px 0 rgba(0, 0, 0, .12);
}

.cta-section .modern-grid>div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.cta-section h1 svg {
    width: .55em;
    height: auto;
    aspect-ratio: 1;
}

@media (max-width:1024px) {
    .cta-section {
        aspect-ratio: 740/390;
    }

    .cta-section .column-5 {
        position: absolute;
        top: calc(min(100vw, var(--center-column-max-width)) * .055);
        left: calc(min(100vw, var(--center-column-max-width)) * .055);
    }
}

.cta-section .column-5>a svg {
    position: relative;
    top: -3px;
    left: 2px;
    width: auto;
    height: .4em;
}

@media (max-width:768px) {
    .cta-section {
        padding: 0 14px;
        aspect-ratio: 375/435;
    }

    .cta-section .modern-grid {
        padding: 30px 18px;
    }

    .cta-section .modern-grid>div {
        justify-content: flex-start;
    }

    .cta-section .modern-grid .m-column-0 {
        display: none !important;
    }

    .cta-section .column-5>a svg {
        top: 0;
        width: auto;
        height: .45em;
        transform: translateY(-.05em);
    }
}

.cta-section-link {
    display: flex;
    gap: 12px;
}

.cta-section-link svg {
    margin-left: 4px;
}

.cta-section .column-6,
.cta-section .modern-grid {
    position: relative;
    overflow: hidden;
}

.cta-section .modern-grid>img {
    position: absolute;
    top: 5.5vw;
    left: 3.5vw;
    width: 100%;
    height: auto;
    pointer-events: none;
}